# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log
*.out
*.err

# Large binary / model files
*.pth
*.npy
*.nii
*.nii.gz
*.dcm
*.jpg

# Backup files
*.bak

# Experiments and training run outputs
experiments/*
outputs/

# Raw imaging data
data/*/data/*
data/raw
data/preprocessing_dicom_spm_2/

# Jupyter
.ipynb_checkpoints/

# Cache
unsloth_compiled_cache/

# Environment
.env
.venv

# Misc
output.log
spm/
spm.zip
